{% extends 'base.html.twig' %}

{% block title %}menu général
{% endblock %}

{% block body %}
	<div class="salut">
		<h2> Bonjour, vous êtes sur la page Menu Principal</h2>
		
	</div>

{% endblock %}
