{% extends 'base.html.twig' %}

{% block title %}page administrateur{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Bonjour {{ controller_name }}! </h1>

   <h2 class="">Bonjour Administrateur</h2>
  <h3> Vous êtes sur votre page Menu Principal</h3>

</div>
{% endblock %}
