{% extends 'base.html.twig' %}

{% block title %}Nouveau restaurant{% endblock %}

{% block body %}
    <h1>créer un nouveau restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a href="{{ path('app_restaurant_index') }}" class= "smallButton" >revenir à la liste</a>
{% endblock %}
