{% extends 'base.html.twig' %}

{% block title %}Nouveau utilisateur{% endblock %}

{% block body %}
    <h1>Inscrire un nouvel employé</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">revenir à la liste</a>
{% endblock %}
